name: Update labels
on:
  workflow_call:
    inputs:
      technisch_overleg:
        description: "Naam van het overleg. Gebruik de volgende: ['API', 'DK', 'OAuth']"
        required: true
        type: string

jobs:
  update-labels:
    name: "Update labels"
    runs-on: ubuntu-22.04
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - run: |
          gh api ${{ github.event.pull_request._links.issue.href }}/labels \
            --jq 'map(select(.name | startswith("Status: ") == false) | .name)' > labels.json
          if ${{ github.event.pull_request.merged == true }}; then
            NEW_LABEL="Status: Klaar voor release"
          elif ${{ github.event.pull_request.state == 'closed' }}; then
            NEW_LABEL="Status: Afgewezen"
          else
            review_status=$(gh api ${{ github.event.pull_request._links.self.href }}/reviews --jq 'map(select(.author_association == "MEMBER")) | last.state')
            if [[ "$review_status" == "APPROVED" ]]; then
              NEW_LABEL="Status: Ter goedkeuring"
            else
              NEW_LABEL="Status: In bewerking"
            fi
          fi

          # Voor beheer PR's willen we geen status, want die hoeven niet geagendeerd
          # en goedgekeurd te worden tijdens een TO.
          if ${{ startsWith(github.event.pull_request.title, 'Beheer: ') }}; then
            NEW_LABEL_JSON=""
          else
            NEW_LABEL_JSON=".concat(['$NEW_LABEL', 'Overleg: TO-${{ inputs.technisch_overleg }}'])"
          fi

          echo $NEW_LABEL_JSON

          gh api \
            --method PUT \
            ${{ github.event.pull_request._links.issue.href }}/labels \
            --input - <<< $(node -e "console.log(JSON.stringify(require('./labels.json')$NEW_LABEL_JSON))")
